--
-- PostgreSQL database dump
--

\restrict ps6BAySdflhUaLi1rBPJIuvjD2JiUZMXDvquRbmwptuGM5W1LAklG4C5Kgcmp9x

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: spkmb_admin
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO spkmb_admin;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: spkmb_admin
--

COMMENT ON SCHEMA public IS '';


--
-- Name: DokumenJenis; Type: TYPE; Schema: public; Owner: spkmb_admin
--

CREATE TYPE public."DokumenJenis" AS ENUM (
    'JAMINAN_UANG_MUKA',
    'JAMINAN_PELAKSANAAN',
    'JAMINAN_PEMELIHARAAN'
);


ALTER TYPE public."DokumenJenis" OWNER TO spkmb_admin;

--
-- Name: KualitasTemuanLevel; Type: TYPE; Schema: public; Owner: spkmb_admin
--

CREATE TYPE public."KualitasTemuanLevel" AS ENUM (
    'RENDAH',
    'SEDANG',
    'TINGGI',
    'KRITIS'
);


ALTER TYPE public."KualitasTemuanLevel" OWNER TO spkmb_admin;

--
-- Name: LaporanStatus; Type: TYPE; Schema: public; Owner: spkmb_admin
--

CREATE TYPE public."LaporanStatus" AS ENUM (
    'BARU',
    'PROSES',
    'SELESAI',
    'DITUNDA'
);


ALTER TYPE public."LaporanStatus" OWNER TO spkmb_admin;

--
-- Name: MetodePengadaan; Type: TYPE; Schema: public; Owner: spkmb_admin
--

CREATE TYPE public."MetodePengadaan" AS ENUM (
    'E_PURCHASING',
    'SWAKELOLA',
    'TENDER',
    'PENUNJUKAN_LANGSUNG',
    'SELEKSI'
);


ALTER TYPE public."MetodePengadaan" OWNER TO spkmb_admin;

--
-- Name: MonitoringStatus; Type: TYPE; Schema: public; Owner: spkmb_admin
--

CREATE TYPE public."MonitoringStatus" AS ENUM (
    'ON_TRACK',
    'DELAYED',
    'CRITICAL',
    'COMPLETED'
);


ALTER TYPE public."MonitoringStatus" OWNER TO spkmb_admin;

--
-- Name: PPKStatus; Type: TYPE; Schema: public; Owner: spkmb_admin
--

CREATE TYPE public."PPKStatus" AS ENUM (
    'AKTIF',
    'NON_AKTIF',
    'CUTI'
);


ALTER TYPE public."PPKStatus" OWNER TO spkmb_admin;

--
-- Name: PaketStatus; Type: TYPE; Schema: public; Owner: spkmb_admin
--

CREATE TYPE public."PaketStatus" AS ENUM (
    'DRAFT',
    'PUBLISHED',
    'ON_PROGRESS',
    'COMPLETED',
    'CANCELLED'
);


ALTER TYPE public."PaketStatus" OWNER TO spkmb_admin;

--
-- Name: PengaduanStatus; Type: TYPE; Schema: public; Owner: spkmb_admin
--

CREATE TYPE public."PengaduanStatus" AS ENUM (
    'BARU',
    'DIPROSES',
    'SELESAI',
    'DITOLAK'
);


ALTER TYPE public."PengaduanStatus" OWNER TO spkmb_admin;

--
-- Name: ProyekStatus; Type: TYPE; Schema: public; Owner: spkmb_admin
--

CREATE TYPE public."ProyekStatus" AS ENUM (
    'PERENCANAAN',
    'PELAKSANAAN',
    'SELESAI',
    'DITUNDA'
);


ALTER TYPE public."ProyekStatus" OWNER TO spkmb_admin;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: spkmb_admin
--

CREATE TYPE public."UserRole" AS ENUM (
    'ADMIN',
    'USER',
    'AUDITOR',
    'MANAGER'
);


ALTER TYPE public."UserRole" OWNER TO spkmb_admin;

--
-- Name: VendorStatus; Type: TYPE; Schema: public; Owner: spkmb_admin
--

CREATE TYPE public."VendorStatus" AS ENUM (
    'AKTIF',
    'NON_AKTIF',
    'SUSPENDED'
);


ALTER TYPE public."VendorStatus" OWNER TO spkmb_admin;

--
-- Name: VendorType; Type: TYPE; Schema: public; Owner: spkmb_admin
--

CREATE TYPE public."VendorType" AS ENUM (
    'KONSULTAN_PERENCANAAN',
    'KONSULTAN_PENGAWAS',
    'KONSTRUKSI'
);


ALTER TYPE public."VendorType" OWNER TO spkmb_admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: spkmb_admin
--

CREATE TABLE public.audit_logs (
    id text NOT NULL,
    "userId" text NOT NULL,
    action text NOT NULL,
    entity text NOT NULL,
    "entityId" text,
    details jsonb,
    "ipAddress" text,
    "userAgent" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO spkmb_admin;

--
-- Name: dokumen; Type: TABLE; Schema: public; Owner: spkmb_admin
--

CREATE TABLE public.dokumen (
    id text NOT NULL,
    "paketId" text,
    "namaDokumen" text NOT NULL,
    "filePath" text NOT NULL,
    "fileSize" integer NOT NULL,
    "mimeType" text,
    "uploadedBy" text NOT NULL,
    "uploadedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "laporanItwasdaId" text,
    "vendorId" text,
    "ppkId" text,
    "monitoringId" text,
    "laporanAnalisisId" text,
    "temuanBPKPId" text,
    "proyekPUPRId" text,
    "jenisDokumen" text NOT NULL
);


ALTER TABLE public.dokumen OWNER TO spkmb_admin;

--
-- Name: laporan_analisis; Type: TABLE; Schema: public; Owner: spkmb_admin
--

CREATE TABLE public.laporan_analisis (
    id text NOT NULL,
    "jenisLaporan" text NOT NULL,
    periode text NOT NULL,
    data jsonb NOT NULL,
    kesimpulan text NOT NULL,
    rekomendasi text,
    "generatedBy" text NOT NULL,
    "generatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.laporan_analisis OWNER TO spkmb_admin;

--
-- Name: laporan_itwasda; Type: TABLE; Schema: public; Owner: spkmb_admin
--

CREATE TABLE public.laporan_itwasda (
    id text NOT NULL,
    "nomorLaporan" text NOT NULL,
    "paketId" text,
    "jenisLaporan" text NOT NULL,
    deskripsi text NOT NULL,
    "tingkatKualitasTemuan" public."KualitasTemuanLevel" NOT NULL,
    status public."LaporanStatus" DEFAULT 'BARU'::public."LaporanStatus" NOT NULL,
    tanggal timestamp(3) without time zone NOT NULL,
    auditor text NOT NULL,
    pic text NOT NULL,
    "filePath" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.laporan_itwasda OWNER TO spkmb_admin;

--
-- Name: monitoring; Type: TABLE; Schema: public; Owner: spkmb_admin
--

CREATE TABLE public.monitoring (
    id text NOT NULL,
    "paketId" text,
    "jenisMonitoring" text NOT NULL,
    periode text NOT NULL,
    status public."MonitoringStatus" DEFAULT 'ON_TRACK'::public."MonitoringStatus" NOT NULL,
    progress integer DEFAULT 0 NOT NULL,
    issues text,
    rekomendasi text,
    "tanggalMonitoring" timestamp(3) without time zone NOT NULL,
    "monitoredBy" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.monitoring OWNER TO spkmb_admin;

--
-- Name: paket; Type: TABLE; Schema: public; Owner: spkmb_admin
--

CREATE TABLE public.paket (
    id text NOT NULL,
    "kodePaket" text NOT NULL,
    "kodeRUP" text,
    "namaPaket" text NOT NULL,
    "jenisPaket" text NOT NULL,
    "nilaiPaket" double precision NOT NULL,
    "metodePengadaan" public."MetodePengadaan" NOT NULL,
    status public."PaketStatus" DEFAULT 'DRAFT'::public."PaketStatus" NOT NULL,
    "tanggalBuat" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "tanggalUpdate" timestamp(3) without time zone NOT NULL,
    "createdBy" text NOT NULL,
    "updatedBy" text,
    "tanggalMulai" timestamp(3) without time zone,
    "tanggalSelesai" timestamp(3) without time zone,
    "lamaProyek" integer,
    "dokumenKontrak" text
);


ALTER TABLE public.paket OWNER TO spkmb_admin;

--
-- Name: pengaduan; Type: TABLE; Schema: public; Owner: spkmb_admin
--

CREATE TABLE public.pengaduan (
    id text NOT NULL,
    judul text NOT NULL,
    isi text NOT NULL,
    status public."PengaduanStatus" DEFAULT 'BARU'::public."PengaduanStatus" NOT NULL,
    tanggal timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    pelapor text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.pengaduan OWNER TO spkmb_admin;

--
-- Name: permissions; Type: TABLE; Schema: public; Owner: spkmb_admin
--

CREATE TABLE public.permissions (
    id text NOT NULL,
    name text NOT NULL,
    resource text NOT NULL,
    action text NOT NULL,
    description text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.permissions OWNER TO spkmb_admin;

--
-- Name: ppk; Type: TABLE; Schema: public; Owner: spkmb_admin
--

CREATE TABLE public.ppk (
    id text NOT NULL,
    "namaLengkap" text NOT NULL,
    nip text NOT NULL,
    jabatan text NOT NULL,
    "unitKerja" text NOT NULL,
    kompetensi jsonb NOT NULL,
    sertifikasi jsonb NOT NULL,
    pengalaman integer DEFAULT 0 NOT NULL,
    status public."PPKStatus" DEFAULT 'AKTIF'::public."PPKStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.ppk OWNER TO spkmb_admin;

--
-- Name: ppk_data; Type: TABLE; Schema: public; Owner: spkmb_admin
--

CREATE TABLE public.ppk_data (
    id text NOT NULL,
    "paketId" text NOT NULL,
    "namaPPK" text NOT NULL,
    "noSertifikasi" text NOT NULL,
    "jumlahAnggaran" double precision NOT NULL,
    "lamaProyek" integer NOT NULL,
    "realisasiTermin1" double precision,
    "realisasiTermin2" double precision,
    "realisasiTermin3" double precision,
    "realisasiTermin4" double precision,
    "PHO" timestamp(3) without time zone,
    "FHO" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.ppk_data OWNER TO spkmb_admin;

--
-- Name: proyek_pupr; Type: TABLE; Schema: public; Owner: spkmb_admin
--

CREATE TABLE public.proyek_pupr (
    id text NOT NULL,
    "namaProyek" text NOT NULL,
    lokasi text NOT NULL,
    anggaran double precision NOT NULL,
    kontraktor text,
    "tanggalMulai" timestamp(3) without time zone NOT NULL,
    "tanggalSelesai" timestamp(3) without time zone NOT NULL,
    status public."ProyekStatus" DEFAULT 'PERENCANAAN'::public."ProyekStatus" NOT NULL,
    progress integer DEFAULT 0 NOT NULL,
    "deskripsiCatatan" text,
    "dokumenCatatan" text,
    "tingkatKualitasTemuan" public."KualitasTemuanLevel",
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "createdBy" text
);


ALTER TABLE public.proyek_pupr OWNER TO spkmb_admin;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: spkmb_admin
--

CREATE TABLE public.roles (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    permissions jsonb NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.roles OWNER TO spkmb_admin;

--
-- Name: temuan_bpkp; Type: TABLE; Schema: public; Owner: spkmb_admin
--

CREATE TABLE public.temuan_bpkp (
    id text NOT NULL,
    "nomorTemuan" text NOT NULL,
    "paketId" text,
    "jenisTemuan" text NOT NULL,
    deskripsi text NOT NULL,
    "tingkatKualitasTemuan" public."KualitasTemuanLevel" NOT NULL,
    status public."LaporanStatus" DEFAULT 'BARU'::public."LaporanStatus" NOT NULL,
    tanggal timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    auditor text NOT NULL,
    pic text NOT NULL,
    "filePath" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.temuan_bpkp OWNER TO spkmb_admin;

--
-- Name: users; Type: TABLE; Schema: public; Owner: spkmb_admin
--

CREATE TABLE public.users (
    id text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    "firstName" text NOT NULL,
    "lastName" text NOT NULL,
    role public."UserRole" DEFAULT 'USER'::public."UserRole" NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.users OWNER TO spkmb_admin;

--
-- Name: vendor; Type: TABLE; Schema: public; Owner: spkmb_admin
--

CREATE TABLE public.vendor (
    id text NOT NULL,
    "namaVendor" text NOT NULL,
    "jenisVendor" public."VendorType" NOT NULL,
    "nomorIzin" text NOT NULL,
    spesialisasi text,
    "jumlahProyek" integer DEFAULT 0 NOT NULL,
    rating double precision DEFAULT 0,
    status public."VendorStatus" DEFAULT 'AKTIF'::public."VendorStatus" NOT NULL,
    kontak text,
    alamat text,
    "paketId" text,
    "noKontrak" text,
    deskripsi text,
    "dokumenDED" text,
    "lamaKontrak" integer,
    "warningTemuan" boolean DEFAULT false,
    "namaProyek" text,
    "deskripsiLaporan" text,
    "dokumenLaporan" text,
    "deskripsiProgress" text,
    "uploadDokumen" text,
    "uploadFoto" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.vendor OWNER TO spkmb_admin;

--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: spkmb_admin
--

COPY public.audit_logs (id, "userId", action, entity, "entityId", details, "ipAddress", "userAgent", "createdAt") FROM stdin;
\.


--
-- Data for Name: dokumen; Type: TABLE DATA; Schema: public; Owner: spkmb_admin
--

COPY public.dokumen (id, "paketId", "namaDokumen", "filePath", "fileSize", "mimeType", "uploadedBy", "uploadedAt", "laporanItwasdaId", "vendorId", "ppkId", "monitoringId", "laporanAnalisisId", "temuanBPKPId", "proyekPUPRId", "jenisDokumen") FROM stdin;
\.


--
-- Data for Name: laporan_analisis; Type: TABLE DATA; Schema: public; Owner: spkmb_admin
--

COPY public.laporan_analisis (id, "jenisLaporan", periode, data, kesimpulan, rekomendasi, "generatedBy", "generatedAt") FROM stdin;
\.


--
-- Data for Name: laporan_itwasda; Type: TABLE DATA; Schema: public; Owner: spkmb_admin
--

COPY public.laporan_itwasda (id, "nomorLaporan", "paketId", "jenisLaporan", deskripsi, "tingkatKualitasTemuan", status, tanggal, auditor, pic, "filePath", "createdAt", "updatedAt") FROM stdin;
cmhq41c3x000igjqopjdc40qf	ITW-2024-001	cmhq41c390008gjqoqrgqcs7m	Temuan	Ditemukan ketidaksesuaian spesifikasi material pada pekerjaan lapangan	SEDANG	BARU	2024-10-15 00:00:00	Siti Nurhaliza	Ahmad Sutrisno	/uploads/1762674141994-j5lv8dt2cp.png	2025-11-08 09:56:51.214	2025-11-09 07:42:22.04
\.


--
-- Data for Name: monitoring; Type: TABLE DATA; Schema: public; Owner: spkmb_admin
--

COPY public.monitoring (id, "paketId", "jenisMonitoring", periode, status, progress, issues, rekomendasi, "tanggalMonitoring", "monitoredBy", "createdAt", "updatedAt") FROM stdin;
cmhq41c41000jgjqorq6xa4oi	cmhq41c390008gjqoqrgqcs7m	Fisik	Q4 2024	ON_TRACK	45	Keterlambatan pengiriman material	Koordinasi dengan vendor untuk percepatan pengiriman	2024-10-20 00:00:00	cmhq41bw10002gjqo47xqmcud	2025-11-08 09:56:51.218	2025-11-08 09:56:51.218
\.


--
-- Data for Name: paket; Type: TABLE DATA; Schema: public; Owner: spkmb_admin
--



--
-- Data for Name: pengaduan; Type: TABLE DATA; Schema: public; Owner: spkmb_admin
--

COPY public.pengaduan (id, judul, isi, status, tanggal, pelapor, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: permissions; Type: TABLE DATA; Schema: public; Owner: spkmb_admin
--

COPY public.permissions (id, name, resource, action, description, "createdAt") FROM stdin;
\.


--
-- Data for Name: ppk; Type: TABLE DATA; Schema: public; Owner: spkmb_admin
--



--
-- Data for Name: ppk_data; Type: TABLE DATA; Schema: public; Owner: spkmb_admin
--

COPY public.ppk_data (id, "paketId", "namaPPK", "noSertifikasi", "jumlahAnggaran", "lamaProyek", "realisasiTermin1", "realisasiTermin2", "realisasiTermin3", "realisasiTermin4", "PHO", "FHO", "createdAt", "updatedAt") FROM stdin;
cmhqowciw0008gjs8g43i50bb	cmhq41c3f000agjqoyxwpph8k	Muhammmad Fadlan	552323	1212000	245	2000	23333	2555	5555	2004-02-12 00:00:00	2007-03-23 00:00:00	2025-11-08 19:40:50.407	2025-11-08 19:42:58.014
cmhr9r2y30007gj9galtjt1hi	cmhq41c3f000agjqoyxwpph8k	Indra	553344	409500000	345	2500000	400000000	4000000	3000000	\N	\N	2025-11-09 05:24:36.65	2025-11-09 05:24:36.65
\.


--
-- Data for Name: proyek_pupr; Type: TABLE DATA; Schema: public; Owner: spkmb_admin
--

COPY public.proyek_pupr (id, "namaProyek", lokasi, anggaran, kontraktor, "tanggalMulai", "tanggalSelesai", status, progress, "deskripsiCatatan", "dokumenCatatan", "tingkatKualitasTemuan", "createdAt", "updatedAt", "createdBy") FROM stdin;
cmhr7qxx00005gj9gwq4wo2uj	Test	Indonesia	30000000	PT Indra	2025-11-25 00:00:00	2025-12-02 00:00:00	PERENCANAAN	12	Test	/uploads/1762673070815-zqsf9lgv9og.png	\N	2025-11-09 04:28:30.9	2025-11-09 07:26:12.101	cmhq41bvj0000gjqohvyd2m9c
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: spkmb_admin
--

COPY public.roles (id, name, description, permissions, "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: temuan_bpkp; Type: TABLE DATA; Schema: public; Owner: spkmb_admin
--

COPY public.temuan_bpkp (id, "nomorTemuan", "paketId", "jenisTemuan", deskripsi, "tingkatKualitasTemuan", status, tanggal, auditor, pic, "filePath", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: spkmb_admin
--



--
-- Data for Name: vendor; Type: TABLE DATA; Schema: public; Owner: spkmb_admin
--

COPY public.vendor (id, "namaVendor", "jenisVendor", "nomorIzin", spesialisasi, "jumlahProyek", rating, status, kontak, alamat, "paketId", "noKontrak", deskripsi, "dokumenDED", "lamaKontrak", "warningTemuan", "namaProyek", "deskripsiLaporan", "dokumenLaporan", "deskripsiProgress", "uploadDokumen", "uploadFoto", "createdAt", "updatedAt") FROM stdin;
cmhqnswgc0000gjs8wpcd2q7t	PT Angin Ribut	KONSTRUKSI	IUJK-2025	Software	0	0	AKTIF	sales@dacode.com	Indonesia	\N	\N	\N	\N	\N	f	\N	\N	\N	\N	\N	\N	2025-11-08 19:10:09.996	2025-11-09 00:22:23.773
\.


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: spkmb_admin
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: dokumen dokumen_pkey; Type: CONSTRAINT; Schema: public; Owner: spkmb_admin
--

ALTER TABLE ONLY public.dokumen
    ADD CONSTRAINT dokumen_pkey PRIMARY KEY (id);


--
-- Name: laporan_analisis laporan_analisis_pkey; Type: CONSTRAINT; Schema: public; Owner: spkmb_admin
--

ALTER TABLE ONLY public.laporan_analisis
    ADD CONSTRAINT laporan_analisis_pkey PRIMARY KEY (id);


--
-- Name: laporan_itwasda laporan_itwasda_pkey; Type: CONSTRAINT; Schema: public; Owner: spkmb_admin
--

ALTER TABLE ONLY public.laporan_itwasda
    ADD CONSTRAINT laporan_itwasda_pkey PRIMARY KEY (id);


--
-- Name: monitoring monitoring_pkey; Type: CONSTRAINT; Schema: public; Owner: spkmb_admin
--

ALTER TABLE ONLY public.monitoring
    ADD CONSTRAINT monitoring_pkey PRIMARY KEY (id);


--
-- Name: paket paket_pkey; Type: CONSTRAINT; Schema: public; Owner: spkmb_admin
--

ALTER TABLE ONLY public.paket
    ADD CONSTRAINT paket_pkey PRIMARY KEY (id);


--
-- Name: pengaduan pengaduan_pkey; Type: CONSTRAINT; Schema: public; Owner: spkmb_admin
--

ALTER TABLE ONLY public.pengaduan
    ADD CONSTRAINT pengaduan_pkey PRIMARY KEY (id);


--
-- Name: permissions permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: spkmb_admin
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_pkey PRIMARY KEY (id);


--
-- Name: ppk_data ppk_data_pkey; Type: CONSTRAINT; Schema: public; Owner: spkmb_admin
--

ALTER TABLE ONLY public.ppk_data
    ADD CONSTRAINT ppk_data_pkey PRIMARY KEY (id);


--
-- Name: ppk ppk_pkey; Type: CONSTRAINT; Schema: public; Owner: spkmb_admin
--

ALTER TABLE ONLY public.ppk
    ADD CONSTRAINT ppk_pkey PRIMARY KEY (id);


--
-- Name: proyek_pupr proyek_pupr_pkey; Type: CONSTRAINT; Schema: public; Owner: spkmb_admin
--

ALTER TABLE ONLY public.proyek_pupr
    ADD CONSTRAINT proyek_pupr_pkey PRIMARY KEY (id);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: spkmb_admin
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: temuan_bpkp temuan_bpkp_pkey; Type: CONSTRAINT; Schema: public; Owner: spkmb_admin
--

ALTER TABLE ONLY public.temuan_bpkp
    ADD CONSTRAINT temuan_bpkp_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: spkmb_admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: vendor vendor_pkey; Type: CONSTRAINT; Schema: public; Owner: spkmb_admin
--

ALTER TABLE ONLY public.vendor
    ADD CONSTRAINT vendor_pkey PRIMARY KEY (id);


--
-- Name: laporan_itwasda_nomorLaporan_key; Type: INDEX; Schema: public; Owner: spkmb_admin
--

CREATE UNIQUE INDEX "laporan_itwasda_nomorLaporan_key" ON public.laporan_itwasda USING btree ("nomorLaporan");


--
-- Name: paket_kodePaket_key; Type: INDEX; Schema: public; Owner: spkmb_admin
--

CREATE UNIQUE INDEX "paket_kodePaket_key" ON public.paket USING btree ("kodePaket");


--
-- Name: permissions_name_key; Type: INDEX; Schema: public; Owner: spkmb_admin
--

CREATE UNIQUE INDEX permissions_name_key ON public.permissions USING btree (name);


--
-- Name: ppk_nip_key; Type: INDEX; Schema: public; Owner: spkmb_admin
--

CREATE UNIQUE INDEX ppk_nip_key ON public.ppk USING btree (nip);


--
-- Name: roles_name_key; Type: INDEX; Schema: public; Owner: spkmb_admin
--

CREATE UNIQUE INDEX roles_name_key ON public.roles USING btree (name);


--
-- Name: temuan_bpkp_nomorTemuan_key; Type: INDEX; Schema: public; Owner: spkmb_admin
--

CREATE UNIQUE INDEX "temuan_bpkp_nomorTemuan_key" ON public.temuan_bpkp USING btree ("nomorTemuan");


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: spkmb_admin
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: vendor_nomorIzin_key; Type: INDEX; Schema: public; Owner: spkmb_admin
--

CREATE UNIQUE INDEX "vendor_nomorIzin_key" ON public.vendor USING btree ("nomorIzin");


--
-- Name: audit_logs audit_logs_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: spkmb_admin
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT "audit_logs_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: dokumen dokumen_laporanAnalisisId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: spkmb_admin
--

ALTER TABLE ONLY public.dokumen
    ADD CONSTRAINT "dokumen_laporanAnalisisId_fkey" FOREIGN KEY ("laporanAnalisisId") REFERENCES public.laporan_analisis(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: dokumen dokumen_laporanItwasdaId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: spkmb_admin
--

ALTER TABLE ONLY public.dokumen
    ADD CONSTRAINT "dokumen_laporanItwasdaId_fkey" FOREIGN KEY ("laporanItwasdaId") REFERENCES public.laporan_itwasda(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: dokumen dokumen_monitoringId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: spkmb_admin
--

ALTER TABLE ONLY public.dokumen
    ADD CONSTRAINT "dokumen_monitoringId_fkey" FOREIGN KEY ("monitoringId") REFERENCES public.monitoring(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: dokumen dokumen_paketId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: spkmb_admin
--

ALTER TABLE ONLY public.dokumen
    ADD CONSTRAINT "dokumen_paketId_fkey" FOREIGN KEY ("paketId") REFERENCES public.paket(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: dokumen dokumen_ppkId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: spkmb_admin
--

ALTER TABLE ONLY public.dokumen
    ADD CONSTRAINT "dokumen_ppkId_fkey" FOREIGN KEY ("ppkId") REFERENCES public.ppk(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: dokumen dokumen_proyekPUPRId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: spkmb_admin
--

ALTER TABLE ONLY public.dokumen
    ADD CONSTRAINT "dokumen_proyekPUPRId_fkey" FOREIGN KEY ("proyekPUPRId") REFERENCES public.proyek_pupr(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: dokumen dokumen_temuanBPKPId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: spkmb_admin
--

ALTER TABLE ONLY public.dokumen
    ADD CONSTRAINT "dokumen_temuanBPKPId_fkey" FOREIGN KEY ("temuanBPKPId") REFERENCES public.temuan_bpkp(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: dokumen dokumen_vendorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: spkmb_admin
--

ALTER TABLE ONLY public.dokumen
    ADD CONSTRAINT "dokumen_vendorId_fkey" FOREIGN KEY ("vendorId") REFERENCES public.vendor(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: laporan_itwasda laporan_itwasda_paketId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: spkmb_admin
--

ALTER TABLE ONLY public.laporan_itwasda
    ADD CONSTRAINT "laporan_itwasda_paketId_fkey" FOREIGN KEY ("paketId") REFERENCES public.paket(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ppk_data ppk_data_paketId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: spkmb_admin
--

ALTER TABLE ONLY public.ppk_data
    ADD CONSTRAINT "ppk_data_paketId_fkey" FOREIGN KEY ("paketId") REFERENCES public.paket(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: proyek_pupr proyek_pupr_createdBy_fkey; Type: FK CONSTRAINT; Schema: public; Owner: spkmb_admin
--

ALTER TABLE ONLY public.proyek_pupr
    ADD CONSTRAINT "proyek_pupr_createdBy_fkey" FOREIGN KEY ("createdBy") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: temuan_bpkp temuan_bpkp_paketId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: spkmb_admin
--

ALTER TABLE ONLY public.temuan_bpkp
    ADD CONSTRAINT "temuan_bpkp_paketId_fkey" FOREIGN KEY ("paketId") REFERENCES public.paket(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: vendor vendor_paketId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: spkmb_admin
--

ALTER TABLE ONLY public.vendor
    ADD CONSTRAINT "vendor_paketId_fkey" FOREIGN KEY ("paketId") REFERENCES public.paket(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: spkmb_admin
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict ps6BAySdflhUaLi1rBPJIuvjD2JiUZMXDvquRbmwptuGM5W1LAklG4C5Kgcmp9x

